body{
background-color: black;

}

.container {
    border: 1px solid black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    width: 75%;
    display: block;
    margin-top: 4vw;
    margin-left: 12%;
  
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 200px;
}

h1{
font-size: 25px;
color: blanchedalmond;
text-decoration: underline brown;
font-weight: bold;
margin-bottom: 8vw;
}

h3{
    font-size: 18px;
    color: blanchedalmond;
    text-decoration: underline brown;
    font-weight: bold;
}


.footer{
    position: sticky;
    margin-top: 100%;
    margin-bottom: 0vw;
    left: 0;
    right: 0;
    padding: 5px 5px 5px 5px ;
    background:#ccc;
}


.underline{
    text-decoration: none;
}

.red {
    background-color: red;
}

.purple {
    background-color: purple;
}

.orange {
    background-color: orange;
}

.blue {
    background-color: blue;
}

.lightblue {
    background-color: lightblue;
}

.yellow {
    background-color: rgb(148, 148, 7);
}

.grey {
    background-color: grey;
}